{% extends 'base.html.twig' %}

{% block title %}Jeu des IA{% endblock %}

{% block body %}
<style>
    div { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
    a { color: blue; }
</style>

<div>
    <h1>Enigmes</h1>
    <ul>
        <li><a href="https://learningapps.org/watch?v=pj7jod5en22">énigme 1</a></li>
        <li><a href="https://learningapps.org/watch?v=p3dw44gs322">énigme 2</a></li>
        <li><a href="https://learningapps.org/watch?v=pd8och8gk22">énigme 3</a></li>
        <li><a href="https://learningapps.org/watch?v=p1u8apant22">énigme 4</a></li>
        <li><a href="https://ladigitale.dev/digiview/#/v/627d21a0eafa9">énigme 5</a></li>
    </ul>
    
    <a href="/equipe">Retour</a>
</div>
{% endblock %}
