{% extends 'base.html.twig' %}

{% block title %}Jeu des IA{% endblock %}

{% block body %}
<style>
    div { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
</style>

<div>
    <ul>
        <li><a href="/jeu/enigme/1">énigme 1</a></li>
        <li><a href="/jeu/enigme/2">énigme 2</a></li>
        <li><a href="/jeu/enigme/3">énigme 3</a></li>
        <li><a href="/jeu/enigme/4">énigme 4</a></li>
        <li><a href="/jeu/enigme/5">énigme 5</a></li>
    </ul>
    
    <a href="/">Retour</a>
</div>
{% endblock %}
