{% extends 'base.html.twig' %}

{% block title %}Jeu des IA{% endblock %}

{% block body %}
<style>
    div { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
    a { color: blue; }
</style>

<div>
    <h1>Enseignant</h1>
    <ul>
        <li><a href="/enseignant/domaine_jeu">Gerer domaine de jeu</a></li>
        <li><a href="/enseignant/parties">Parties en jeu</a></li>
        <li><a href="/enseignant/historique">Historique des parties</a></li>
    </ul>
    <a href="/connexion">Retour</a>
    
</div>
{% endblock %}

